.brand_bar{       
    background-color: white;
    box-shadow: 0 0 20px 2px rgb(25, 56, 56);
    z-index: 1;
}
.brand_panel{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    min-height: 80px;
}
.soc{
    font-weight: 700;
}
.social_media{
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
}
.media_logo{
  height: 50px;
  justify-self: flex-end;
}